.container {
    @apply w-full bg-[#eeeedc] lg:py-[70px] flex justify-center;
}
.block {
    @apply h-full flex flex-col items-center lg:w-[43%];
}
.block h1 {
    @apply text-[48px] font-[300];
}
.block p {
    @apply text-[20px] font-[300] text-[#86926c];
}

.gridBlock {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 412px);
    grid-template-rows: repeat(4, 130px);
    grid-gap: 30px;
}
